<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>team matching</title>
    <!-- MDB icon -->
    <link rel="icon" href="{{ url_for('static', filename='img/new-icon.png') }}" type="image/x-icon" />
    <!-- MDB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" />
    <style>
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
    </style>
</head>

<body>
    <!-- Start your project here-->

    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand nav-link" href="{{url_for('home')}}">
                    <strong>tour</strong>
                </a>
                <!-- Navbar brand -->

                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>


                <div class="collapse navbar-collapse" id="navbarExample01">
                    <!-- left menu -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item pe-2">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        
                        <li class="nav-item pe-2">
                            <a class="nav-link" href="{{ url_for('post_list') }}">Community</a>
                        </li>
                    </ul>
                    <!-- left menu -->

                    <!-- right menu -->
                    <ul class="navbar-nav d-flex flex-row">
                        {% if session['_id'] is defined %}
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{{ url_for('mypage_show') }}">Mypage</a>
                        </li>

                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                        {% else %}
                        
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>

                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="{{ url_for('signup') }}">SingUp</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- right menu -->
                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
    <!--Main Navigation-->

    <!-- container -->
    <div class="container">

        {% block content %}
        {% endblock %}

    </div>
    <!-- container -->

    <!-- footer -->
    <footer class="bg-dark text-center text-lg-start">
    </footer>
    <!-- footer -->

    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- javascript 시작-->
    {% block script %}
    {% endblock %}
    <!-- javascript 끝-->
</body>



</html>